input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.help-block{
    color: red;   
}
.center{
    display: flex;
    justify-content: center;
}
.cancel{
    margin: 10px;
    text-decoration: none;
}
h3{
    margin-bottom: 20px;
}