<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="list-card">
      <a
        (click)="displayContact(i)"
        class="list-group-item clearfix"
        *ngFor="let contact of listOfContactArray; let i = index">
          <div class="pull-left">
            <h4>{{contact.firstName}}</h4>
            <h6>Status: {{contact.status}}</h6>
          </div>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
    <div class="card">
      <app-contact
      [contactPerson]="this.sendContact" 
      ></app-contact>
    </div>
  </div>
</div>