.card{
    width: 100%;
    max-height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
}
.no-padding{
    padding-left: 0px;
}
.list-card{
    width: 100%;
    max-height: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: scroll;
}

a.list-group-item:active{
    background-color: #aaa;
    color: black;
}