<div class="row">
  <div class="col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="list-card" *ngIf="flowFlag">
        <a
          (click)="displayContact(i)"
          class="list-group-item clearfix"
          *ngFor="let contact of listOfContactArray; let i = index">
          <div class="media">
            <div class="media-left">
              <img src="../assets/icon/contact1.png" alt="Contact image" class="media-object" width="50px">
              <p id="contactStatusId">{{contact.status}}</p>
            </div>
            <div class="media-body">
              <div class="contact-group">
                <p>{{contact.firstName}} {{contact.lastName}}</p>
                <p>{{contact.phoneNumber}}</p>
              </div>
              <span class="glyphicon glyphicon-chevron-right glyp-style"></span>
            </div>
          </div>
        </a>
      </div>
  </div>
</div>