 <div class="row">
   <div class="col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
          <div class="row">
              <div class="col-xs-12">
                <h3 class="title">About Me</h3>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <img src="../assets/icon/contact1.png" class="img-responsive" alt="contact image" width="150px">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <p class="full-name">Nikhil Uke</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <p id="phoneNumberId"><b>Phone Number:</b> 7798646011</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <p id="companyId"><b>Company:</b> Accenture</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <p id="emailId"><b>Email:</b> nikhiluke@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
  </div>
